## ignore vscode stuff
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

## Ignore Mac OS Stuff
.DS_Store
.AppleDouble
.LSOverride

## ignore history
.history

node_modules
storybook-static
dist

coverage
